/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';

body {
  position: relative;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #3d3d3d;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #3d3d3d;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #3d3d3d;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/*SIDE BAR NAVIGATION*/

.active-nav-link {
  background-color: #3d3d3d !important;
  color: #fff !important;
}

#wrapper {
  height: 100%;
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  margin: 0.625rem;
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    margin: 0.625rem;
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}